html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
button {
  padding: 7%;
}
a {
  color: inherit;
  text-decoration: none;
}
.display {
  background-color: lightblue;
}

* {
  box-sizing: border-box;
}
.sticky {
  background: linear-gradient(#ec1e1e, #e2e6f1);
  padding: 0.5rem 0;
  position: sticky !important;
  top: 0;
  z-index: 10000;
  padding: 1%;
}
.popup {
  display: flex;
  position: fixed;

  top: 1px;
  height: 100vh;
  width: 100%;
  background: #092431;
  justify-content: center;
  z-index: 1000;
  opacity: 0.8;
  align-items: center;
  color: white;
}

/******************Getdata *******************/
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  list-style: none;
  div {
    display: flex;
    flex-direction: column;
  }
  li {
    padding: 1.5rem;
  }
}
.card {
  margin: 1rem;
  flex-basis: 22%;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  box-shadow: -2px 4px 0px 0px #a0a6c9ad;
  transition: color 0.15s ease, border-color 0.15s ease;
  /*
  text-align: left;

  */
}
.card div {
  padding: 1rem;
}
