.nav * {
  box-sizing: border-box;
}

.nav body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #284f74;
  position: relative;
}


.nav > .navheader {
  display: inline;
}

.nav > .navheader > .navtitle {
  display: inline-block;
  padding: 5px;
}

.nav > .navbtn {
  display: none;
}

.nav > .navlinks {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .navlinks > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .navlinks > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > .navcheck {
  display: none;
  background-color: gold;
}

@media (max-width: 600px) {
  .nav > .navbtn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .navbtn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .navbtn > label:hover,
  .nav .navcheck:checked ~ .navbtn > label {
    background-color: rgba(156, 1, 1, 0.3);
  }
  .nav > .navbtn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .navlinks {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .navlinks > a {
    display: block;
    width: 100%;
  }
  .nav > .navcheck:not(:checked) ~ .navlinks {
    height: 0px;
  }
  .nav > .nav-check:checked ~ .navlinks {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
